@model IEnumerable<prjShoppingCar.Models.tMember>

@{
    ViewBag.Title = "會員管理";
}

<h2>會員管理</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fPwd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fSex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fBirthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fUAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fPwd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fSex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fBirthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fUAddress)
        </td>
        <td>

            @Html.ActionLink("編輯", "ManagerMemberEdit", new { fUserId=item.fUserId }) |
            @Html.ActionLink("刪除", "ManagerMemberDelete", new { fUserId=item.fUserId }
            ,new { onclick="return confirm('確定要刪除嗎?')"})
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("返回管理中心", "ManagerCenter")
</p>
