@model prjShoppingCar.Models.tMember

@{
    ViewBag.Title = "會員註冊";
}

<style>
    .col-8{
        margin:auto;
        padding:10px;
    }
    .box1{
        text-align:left;
    }
</style>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container flex-column justify-content-center box1">
        <h2 style="margin:15px 0;font-family:'Microsoft YaHei';text-align:center">會員註冊</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-8">
            @Html.LabelFor(model => model.fName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.fName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fName, "", new { @class = "text-danger" })
        </div>
        <div class="col-8">
            @Html.LabelFor(model => model.fSex, htmlAttributes: new { @class = "control-label" })
            <select id="fSex" name="fSex" class="form-control">
                <option value="男">男</option>
                <option value="女">女</option>
            </select>

            @*@Html.EditorFor(model => model.fSex, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.fSex, "", new { @class = "text-danger" })
        </div>
        <div class="col-8">
            @Html.LabelFor(model => model.fUserId, htmlAttributes: new { @class = "control-labe" })
            @Html.EditorFor(model => model.fUserId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fUserId, "", new { @class = "text-danger" })
        </div>
        <div class="col-8">
            @Html.LabelFor(model => model.fPwd, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.fPwd, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fPwd, "", new { @class = "text-danger" })
        </div>
        <div class="col-8">
            @Html.LabelFor(model => model.fBirthday, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.fBirthday, new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(model => model.fTel, "", new { @class = "text-danger" })
        </div>
        <div class="col-8">
            @Html.LabelFor(model => model.fEmail, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.fEmail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fEmail, "", new { @class = "text-danger" })
        </div>
        <div class="col-8">
            @Html.LabelFor(model => model.fTel, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.fTel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fTel, "", new { @class = "text-danger" })
        </div>
        <div class="col-8">
            @Html.LabelFor(model => model.fUAddress, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.fUAddress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fUAddress, "", new { @class = "text-danger" })
        </div>
        <div class="col-8" style="padding-top:15px;">
            <input type="submit" value="會員註冊" class="btn btn-default" />
            @ViewBag.Message
        </div>

    </div>
}
